<h1>New Contact</h1>

<%= form_for @contact do |f| %>

  <% if @contact.errors.any? %>
    <ul>
      <%= @contact.errors.full_message.each do |error| %>
      <li><%= error %> </li>
      <%= end %>
    </ul>
  <%= end %>

  <div class="input-wrapper">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="input-wrapper">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="input-wrapper">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="input-wrapper">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div class="input-wrapper">
    <%= f.submit %>
  </div>

<% end %>
